services:
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - '5433:5432'

    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}']
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    restart: always
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    networks:
      - database

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: nestjs-task-management_redis-commander
    restart: unless-stopped
    profiles:
      - monitoring
    healthcheck:
      disable: true
    environment:
      - REDIS_HOSTS=local:redis:6379
    networks:
      - database
    ports:
      - "8081:8081"
    depends_on:
      - redis

volumes:
  db_data:
  redis_data:

networks:
  database:
    driver: bridge
