services:
  db:
    image: postgres:16-alpine
    restart: always
    env_file:
      # - apps/backend/.env
      - .env
    ports:
      - '5433:5432'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - database

  redis:
    image: redis:alpine
    restart: always
    ports:
      - '6379:6379'
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 5
    volumes:
      - redis_data:/data
    networks:
      - database

  backend:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    restart: always
    env_file:
      # - apps/backend/.env
      - .env
    ports:
      - "3010:3010"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - database

  frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - backend

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: nestjs-task-management_redis-commander
    restart: unless-stopped
    profiles:
      - monitoring
    healthcheck:
      disable: true
    environment:
      - REDIS_HOSTS=local:redis:6379
    networks:
      - database
    ports:
      - "8081:8081"
    depends_on:
      - redis

volumes:
  db_data:
  redis_data:

networks:
  database:
    driver: bridge
