name: AI Code Review with Perplexity

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  ai_code_review:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: AI Code Review
      uses: dedushkaalex/ai-code-review@main
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        owner: ${{ github.repository_owner }}
        repo: ${{ github.event.repository.name }}
        pr_number: ${{ github.event.number }}
        include_extensions: '.ts,.js,.yaml,.yml,.json,.env,.md'
        language: 'Russian'

        ai_provider: 'perplexity'
        perplexity_api_key: ${{ secrets.PERPLEXITY_API_KEY }}
        perplexity_model: 'sonar-reasoning-pro'
